.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #fff;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

.place__link:hover {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

