.cover__overlay {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background-color: rgb(42 44 47 / 30%);
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
}

.cover__overlay:hover {
  background-color: rgb(42 44 47 / 80%);
}

