.places__url-heading {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(170 170 170);
}

@media screen and (min-width: 1024px) {
  .places__url-heading {
    line-height: 20px;
  }
}

